@model Proyecto_Inmuebles.Models.PublicacionesViewModel
@{
    ViewData["Title"] = "Publicaciones";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    <div style="display:grid; gap:8px; max-width:700px;">



        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>IdPublicacion</th>
                    <th>IdInmueble</th>
                    <th>IdAgente</th>
                    <th>FechaPublicacion</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model.PublicacionesList)
                {
                <tr>
                        <td>@item.IdPublicacion</td>
                        <td>
                            @foreach (var it in (IEnumerable<SelectListItem>)ViewBag.listaInmuebles)
                            {
                                if (it.Value == item.IdInmueble.ToString())
                                {
                                    <span>@it.Text</span>
                                    break;
                                }



                            }
                        </td>
                        <td>
                            @foreach (var it in (IEnumerable<SelectListItem>)ViewBag.listaAgentes)
                            {
                                if (it.Value == item.IdAgente.ToString())
                                {
                                    <span>@it.Text</span>
                                    break;
                                }



                            }
                        </td>
                        <td>@item.FechaPublicacion</td>
                    
                </tr>
                }
            </tbody>
        </table>
        
    </div>
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>