@model Proyecto_Inmuebles.Models.TiposInmuebleViewModel
@{
    ViewData["Title"] = "Tipos de Inmueble";
}

<h2>@ViewData["Title"]</h2>
<a asp-controller="TiposInmueble" asp-action="CrearTiposInmueble" class="btn btn-outline-info">@("Crear +")</a>
<p style="margin-top:12px;">
    <div style="display:grid; gap:8px; max-width:700px;">

        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>IdTipoInmueble</th>
                    <th>NombreTipo</th>
                    <th class="text-center" style="width: 700px;">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model.tiposInmuebleList)
                {
                <tr>
                        <td>@item.IdTipoInmueble</td>
                    <td>@item.NombreTipo</td>
                    <td class="text-center" style="display: flex; justify-content: space-around;">
                        <a asp-controller="TiposInmueble"
                           asp-action="VerTiposInmueble"
                               asp-route-IdTipoInmueble="@item.IdTipoInmueble"
                           class="btn btn-sm btn-outline-primary me-1">
                            Ver
                        </a>

                        <a asp-controller="TiposInmueble"
                           asp-action="ModificarTiposInmueble"
                               asp-route-IdTipoInmueble="@item.IdTipoInmueble"
                           class="btn btn-sm btn-outline-secondary me-1">
                            Modificar
                        </a>

                        <form asp-controller="TiposInmueble"
                              asp-action="EliminarTiposInmueble"
                                  asp-route-IdTipoInmueble="@item.IdTipoInmueble"
                              method="post"
                              class="d-inline">
                            <button type="submit"
                                    class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('¿Eliminar este TiposInmueble?');">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        
    </div>
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>