@model Proyecto_Inmuebles.Models.OfertasViewModel
@{
    ViewData["Title"] = "Ofertas";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    <div style="display:grid; gap:8px; max-width:700px;">
        


        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>IdOferta</th>
                    <th>FechaHora</th>
                    <th>Monto</th>
                    <th>PlazoDias</th>
                    <th>NombreFormaPago</th>
                    <th>NombreEstado</th>
                    <th>IdPublicacion</th>
                    <th>IdInmueble</th>
                    <th>Direccion</th>
                    <th>Precio</th>
                    <th>IdTipoInmueble</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model.OfertasList)
                {
                <tr>
                        <td>@item.IdOferta</td>
                        <td>@item.FechaHora</td>
                        <td>@item.Monto</td>
                        <td>@item.PlazoDias</td>
                        <td>@item.NombreFormaPago</td>
                        <td>@item.NombreEstado</td>
                        <td>@item.IdPublicacion</td>
                        <td>
                            @foreach (var it in (IEnumerable<SelectListItem>)ViewBag.listaInmuebles)
                            {
                                if (it.Value == item.IdInmueble.ToString())
                                {
                                    <span>@it.Text</span>
                                    break;
                                }



                            }
                        </td>
                        <td>@item.Direccion</td>
                        <td>@item.Precio</td>

                        <td>
                            @foreach (var it in (IEnumerable<SelectListItem>)ViewBag.listaTipos)
                            {
                                if (it.Value == item.IdTipoInmueble.ToString())
                                {
                                    <span>@it.Text</span>
                                    break;
                                }



                            }
                        </td>
                        
                </tr>
                }
            </tbody>
        </table>
        
    </div>
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>