@model Proyecto_Inmuebles.Models.CompradoresVerViewModel
@{
    ViewData["Title"] = "Crear Comprador";
}

<h2>@ViewData["Title"]</h2>
<p style="margin-top:12px;">
    
    <form asp-controller="Compradores" asp-action="CrearCompradorAccion" method="post" style="display:grid; gap:8px; max-width:280px;">
       
       

        <label>Nombres</label>
        <input asp-for="Nombres" autocomplete="Nombres" />

        <label>Apellidos</label>
        <input asp-for="Apellidos" autocomplete="Apellidos" />

        <label>Direccion</label>
        <input asp-for="Direccion" autocomplete="Direccion" />

        <label>Telefono</label>
        <input asp-for="Telefono" autocomplete="Telefono" />

        <label>EstadoCivil</label>
        <input asp-for="EstadoCivil" autocomplete="EstadoCivil" />

        <label>Nacionalidad</label>
        <input asp-for="Nacionalidad" autocomplete="Nacionalidad" />

        <label>Edad</label>
        <input asp-for="Edad" autocomplete="Edad" />


        <label for="IdUsuario">Usuario:</label>
        <select id="IdUsuario" name="IdUsuario" class="form-control">
            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.listaUsuarios)
            {
                if (item.Value == Model.IdUsuario.ToString())
                {
                    <option value="@item.Value" selected>
                        @item.Text
                        
                    </option>
                }
                else
                {
                    <option value="@item.Value">
                        @item.Text

                    </option>
                }
               
            }
        </select>

        <button type="submit">Guardar</button>
    </form>

</p>

<a asp-controller="Compradores" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>
