@model Proyecto_Inmuebles.Models.CompradoresViewModel
@{
    ViewData["Title"] = "Compradores";
}

<h2>@ViewData["Title"]</h2>
<a asp-controller="Compradores" asp-action="CrearComprador" class="btn btn-outline-info">@("Crear +")</a>
<p style="margin-top:12px;">
    <div style="display:grid; gap:8px; max-width:700px;">

        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>IdComprador</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>EstadoCivil</th>
                    <th>Nacionalidad</th>
                    <th>Edad</th>
                    <th>Usuario</th>
                    <th class="text-center" style="width: 700px;">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model.CompradoresList)
                {
                <tr>
                        <td>@item.IdComprador</td>
                        <td>@item.Nombres</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>
                        <td>@item.EstadoCivil</td>
                        <td>@item.Nacionalidad</td>
                        <td>@item.Edad</td>
                        <td>

                            @foreach (var it in (IEnumerable<SelectListItem>)ViewBag.listaUsuarios)
                            {
                                if (it.Value == item.IdUsuario.ToString())
                                {
                                    <span>@it.Text</span>
                                    break;
                                }
                            }

                        </td>
                    <td class="text-center" style="display: flex; justify-content: space-around;">
                        <a asp-controller="Compradores"
                           asp-action="VerComprador"
                               asp-route-IdComprador="@item.IdComprador"
                           class="btn btn-sm btn-outline-primary me-1">
                            Ver
                        </a>

                        <a asp-controller="Compradores"
                           asp-action="ModificarComprador"
                               asp-route-IdComprador="@item.IdComprador"
                           class="btn btn-sm btn-outline-secondary me-1">
                            Modificar
                        </a>

                        <form asp-controller="Compradores"
                              asp-action="EliminarComprador"
                                  asp-route-IdComprador="@item.IdComprador"
                              method="post"
                              class="d-inline">
                            <button type="submit"
                                    class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('¿Eliminar este Comprador?');">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        
    </div>
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-info">@("<- Regresar")</a>